@model Model.Login
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String imgSrc=null;
        if(Model.ImageArray!=null)
        {
            var base64 = Convert.ToBase64String(Model.ImageArray);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
       
}
<script type="text/javascript">
    $(function() {
        //$('#inTag').on('change', function(){
        
        //    // get file and pull attributes
        //    var input = $(this)[0];
        //    var file = input.files[0];
            
        //    // load file into preview pane
        //    var reader = new FileReader();
        //    reader.onload = function(e){

        //        $('#imgTag').attr('src', e.target.result);
        //    }
        //    reader.readAsDataURL(file);

        //});




        //uploading the image

        $("#inTag").change(function () {
                // get file and pull attributes
                var input = $(this)[0];
                var file = input.files[0];

                // load file into preview pane
                var reader = new FileReader();
                reader.onload = function(e){

                    $('#imgTag').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);



            var formData = new FormData();
            var totalFiles = document.getElementById("inTag").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("inTag").files[i];

                formData.append("inTag", file);
            }
            $.ajax({
                type: "POST",
                url: '/Login/Upload',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response);
                },
                error: function (error) {
                    alert(error);
                }
            });
        });




    });
    
</script>
<link href="~/Css/profile.css" rel="stylesheet" />
<div class="content-div">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            @using (Html.BeginForm("FileUpload", "Login", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
            {
                <div style="width:100px; height:100px; border:1px solid black;">
                    <img id="imgTag" src="@(imgSrc==null?"":imgSrc)" style="width:100px; height:100px;"  />
                </div>
                <input type="file" value="Browse" name="inTag" id="inTag" />
            }
            
        </div>

        <h2><u>General Information</u></h2>
        
        <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    @Model.FirstName
                </td>
            </tr>

            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    @Model.LastName
                </td>
            </tr>

            <tr>
                <td>
                    Email
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>

            <tr>
                <td>
                    Gender
                </td>
                <td>
                    @Model.gender
                </td>
            </tr>

            <tr>
                <td>
                    Date of birth
                </td>
                <td>
                    @Model.DateOfBirth
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="content-div">
    <div class="row">
        <h2><u>Address Information</u></h2>
        <table>
            <tr>
                <td>
                    Current Address
                </td>
                <td>
                    @Model.CurrentAddress
                </td>
            </tr>

            <tr>
                <td>
                    Current City
                </td>
                <td>
                    @Model.CurrentCity
                </td>
            </tr>

            <tr>
                <td>
                    State
                </td>
                <td>
                    @Model.CurrentState
                </td>
            </tr>

            <tr>
                <td>
                    Current Country
                </td>
                <td>
                    @Model.CurrentCountry
                </td>
            </tr>

            <tr>
                <td>
                    Permanent Address
                </td>
                <td>
                    @Model.PermanentAddress
                </td>
            </tr>


            <tr>
                <td>
                    Permanent City
                </td>
                <td>
                    @Model.PermanentCity
                </td>
            </tr>


            <tr>
                <td>
                    Permanent Country
                </td>
                <td>
                    @Model.PermanentCountry
                </td>
            </tr>
        </table>
    </div>

</div>


